<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="ch.sharpsoft.arducopter.client.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="ch.sharpsoft.arducopter.client.application.Perspective"
            id="ArducopterClient.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="ArducopterClient.Overview"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               standalone="false">
         </view>
         <view
               id="ArducopterClient.Console"
               minimized="false"
               relationship="stack"
               relative="ArducopterClient.Overview"
               standalone="false">
         </view>
         <view
               id="ArducopterClient.DebugView"
               minimized="false"
               relationship="stack"
               relative="ArducopterClient.Overview">
         </view>
         <view
               id="ch.sharpsoft.arducopter.client.view.Graph"
               minimized="false"
               relationship="stack"
               relative="ArducopterClient.DebugView">
         </view>
         <view
               id="ch.sharpsoft.arducopter.client.view.GraphView"
               minimized="false"
               relationship="stack"
               relative="ch.sharpsoft.arducopter.client.view.Graph">
         </view>
         <view
               id="ch.sharpsoft.arducopter.client.view.Kalibrierung"
               minimized="false"
               relationship="stack"
               relative="ch.sharpsoft.arducopter.client.view.Graph">
         </view>
         <view
               id="ch.sharpsoft.arducopter.client.view.ParameterTuning"
               minimized="false"
               moveable="false"
               relationship="left"
               relative="ch.sharpsoft.arducopter.client.view.GraphView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="ArducopterClient.application"
            name="Arducopter Client">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="ch.sharpsoft.arducopter.client.view.Overview"
            id="ArducopterClient.Overview"
            name="Overview"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="ch.sharpsoft.arducopter.client.view.Console"
            id="ArducopterClient.Console"
            name="Console"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="ch.sharpsoft.arducopter.client.view.DebugView"
            id="ArducopterClient.DebugView"
            name="DebugView"
            restorable="true">
      </view>
      <view
            class="ch.sharpsoft.arducopter.client.view.Graph"
            id="ch.sharpsoft.arducopter.client.view.Graph"
            name="Graph">
      </view>
      <view
            class="ch.sharpsoft.arducopter.client.view.Kalibrierung"
            id="ch.sharpsoft.arducopter.client.view.Kalibrierung"
            name="Kalibrierung">
      </view>
      <view
            class="ch.sharpsoft.arducopter.client.view.GraphView"
            id="ch.sharpsoft.arducopter.client.view.GraphView"
            name="GraphView"
            restorable="true">
      </view>
      <view
            class="ch.sharpsoft.arducopter.client.view.ParameterTuning"
            id="ch.sharpsoft.arducopter.client.view.ParameterTuning"
            name="ParameterTuning">
      </view>
   </extension>

</plugin>
